
#title {
    margin-top: 40px;
}

#title a {
    color: black;
}

#main h1 {
    font-size: 5em;
    text-align: center;
}

#chart {
    width: 100%;
    height: 600px;
}

#spinner {
    width: 20px;
    height: 20px;
}